<!-- <section>
  <h1 class="text-center">Welcome to Kevells Library!</h1>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ul class="nav nav-pills mb-3 mt-5" id="pills-tab" role="tablist">
          <ng-template [ngIf]="!isAuthenticated()">
          <li class="nav-item" role="presentation" routerLinkActive="myCustomActive" [routerLinkActiveOptions]="{ exact : true}">
            <button class="nav-link " id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
              type="button" role="tab" aria-controls="pills-home" aria-selected="true" routerLink="/home">Login</button>
          </li>
          <li class="nav-item" role="presentation" routerLinkActive="myCustomActive">
            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact"
              type="button" role="tab" aria-controls="pills-contact" aria-selected="false" routerLink="/register">Register</button>
          </li>
             </ng-template>
          <ng-template [ngIf]="isAuthenticated()">
            <li class="nav-item" role="presentation" routerLinkActive="myCustomActive">
              <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
                type="button" role="tab" aria-controls="pills-profile" aria-selected="false" routerLink="/bookinfo">Book Info</button>
            </li>
            <li class="nav-item" role="presentation" routerLinkActive="myCustomActive">
              <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
                type="button" role="tab" aria-controls="pills-profile" aria-selected="false" (click)="onLogout()" routerLink="/login">Log Out</button>
            </li>
          
          </ng-template>
         
        </ul>
      </div>
    </div>
  </div>
  <section>
    <div class="container">
      <div class="row">
        <router-outlet>
        </router-outlet>
      </div>
    </div>
  </section>
</section> -->
<!-- <div class="container">
  <app-foodorder></app-foodorder>
</div> -->

<section>
  <h1 class="text-center bg-warning">Welcome to Kevells Cart!</h1>
  <div class="container">
    <div class="row">
      <div class="col-12 ">
        <ul class="nav nav-pills mb-3 mt-5" id="pills-tab" role="tablist">
          <ng-template [ngIf]="!isAuthenticated()">
          <li class="nav-item" role="presentation" routerLinkActive="myCustomActive" [routerLinkActiveOptions]="{ exact : true}">
            <button class="nav-link " id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
              type="button" role="tab" aria-controls="pills-home" aria-selected="true" routerLink="/home">Login</button>
          </li>
          <li class="nav-item" role="presentation" routerLinkActive="myCustomActive">
            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact"
              type="button" role="tab" aria-controls="pills-contact" aria-selected="false" routerLink="/register">Register</button>
          </li>
             </ng-template>
          <ng-template [ngIf]="isAuthenticated()">
            <li class="nav-item" role="presentation" routerLinkActive="myCustomActive">
              <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
                type="button" role="tab" aria-controls="pills-profile" aria-selected="false" routerLink="/men">Men</button>
            </li>
            <li class="nav-item" role="presentation" routerLinkActive="myCustomActive">
              <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
                type="button" role="tab" aria-controls="pills-profile" aria-selected="false" routerLink="/women">Women</button>
            </li>
            <li class="nav-item" role="presentation" routerLinkActive="myCustomActive">
              <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
                type="button" role="tab" aria-controls="pills-profile" aria-selected="false" routerLink="/kids">Kids</button>
            </li>

            <li class="nav-item" role="presentation" routerLinkActive="myCustomActive">
              <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
                type="button" role="tab" aria-controls="pills-profile" aria-selected="false" routerLink="/billings">Billings</button>
            </li>
        
             
          <li class="nav-item" role="presentation" routerLinkActive="myCustomActive">
              <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
                type="button" role="tab" aria-controls="pills-profile" aria-selected="false" (click)="onLogout()" routerLink="/login">Sign Out</button>
            </li>
           
         
          </ng-template>
       
        </ul>
      </div>
    </div>
  </div>
  <section>
    <div class="container">
      <div class="row">
        <router-outlet>
        </router-outlet>
      </div>
    </div>
  </section>
</section> 